* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 11.5rem;
    background: #ffffff0d;
    backdrop-filter: blur(0.625rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.375rem;
    color: #fffffe;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: #fc069d;
    text-shadow: 0 0 0.5rem #7f5af048, 0 0 0.5rem #7f5af048;
}

span {
    color: #7f5af0;
}

.navbar a {
    font-size: 1.125rem;
    color: #fffffe;
    font-weight: 500;
    margin: 0 2.25rem;
    border-bottom: 0.1875rem solid transparent;
    transition: 0.3s ease;
    letter-spacing: 0.05rem;
}

.navbar a:hover {
    letter-spacing: 0.15rem;
}

.navbar a.active {
    border-bottom: 0.1875rem solid #fff;
}

.contact-btn {
    padding: 0.625rem 1.75rem;
    background-color: #7f5af0;
    color: #fffffe;
    border: 0.125rem solid transparent;
    border-radius: 0.2rem;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact-btn:hover {
    background-color: #2cb67d;
    color: #fffffe;
}

.home {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #16161a;
}

.home-content {
    max-width: 50rem;
    margin: 8rem 0 2rem 0;
}

.home-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: #fffffe;
    font-weight: 350;
    letter-spacing: 0.2rem;
    border: 0.0625rem solid #fff;
    padding: 0.625rem 1.25rem;
}

.home-content h3 {
    font-size: 1.75rem;
    padding-top: 0.8rem;
    color: #94a1b2;
    font-weight: 350;
    letter-spacing: 0.25rem;
}

.lang-logos img {
    margin: 1.5rem 0.3rem;
    width: 3.5rem;
    height: 3.5rem;
    transition: transform 0.3s ease;
}

.lang-logos img:hover {
    transform: translateY(-0.5rem);
}

.about-me {
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #242629;
}

.container {
    display: flex;
    justify-content: space-between;
}

.img-box {
    position: relative;
    flex: 1;
    margin-right: 2rem;
}

.img-box img {
    border-radius: 50%;
    width: 12rem;
    box-shadow: 0 0 0.8rem #7f5af0, 0 0 0.8rem #7f5af0;
}

.speech-bubble {
    position: absolute;
    top: -3.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7f5af0;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    display: none;
    white-space: nowrap;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.625rem;
    border-style: solid;
    border-color: #7f5af0 transparent transparent transparent;
}

.img-box:hover .speech-bubble {
    display: block;
}

.about-content {
    max-width: 50rem;
    text-align: justify;
    flex: 2;
}

.about-content h1 {
    color: #fffffe;
    margin-bottom: 0.2rem;
    letter-spacing: 0.05rem;
}

.about-content p {
    color: #94a1b2;
    letter-spacing: 0.02rem;
    line-height: 1.2;
    font-size: 1.5rem;
}

.social-bar {
    padding: 2rem 0;
    margin: 0 auto;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.social-logos {
    font-size: 2.5rem;
    width: 2.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 2.5rem 0 0;
    transition: 0.3s ease;
    cursor: pointer;
}

.social-logos:hover {
    transform: translateY(-0.3125rem);
}

.projects {
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #16161a;
}

.projects-content {
    max-width: 70rem;
    text-align: justify;
    margin: 4rem 6rem;
}

.projects-content h2 {
    color: #fffffe;
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
    font-size: 1.75rem;
}

.projects-content h3 {
    color: #fffffe;
    margin-bottom: 0.2rem;
    letter-spacing: 0.05rem;
    font-style: italic;
}

.projects-content a {
    font-size: 1.25rem;
    color: #a735ff;
}

.projects-content a:hover {
    color: #2cb67d;
}

.project {
    margin: 0 0 1.5rem 0;
    padding: 1.2rem 2rem;
    background-color: #fffffe0a;
}

.list li {
    list-style-type: circle;
    color: #94a1b2;
    margin: 0.5rem;
    letter-spacing: 0.02rem;
    line-height: 1.2;
    font-size: 1.15rem;
}

.resume {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 4% 5.375rem;
    gap: 10rem;
    background: #242629;
}

.resume-download {
    padding: 0.625rem 1.75rem;
    background-color: #7f5af0;
    color: #fffffe;
    border: 0.125rem solid transparent;
    border-radius: 0.2rem;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.resume-download:hover {
    background-color: #2cb67d;
    color: #fffffe;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2.5rem 0;
    background-color: #16161a;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 0.9375rem;
}

.footer ul li a {
    color: #94a1b2;
    border-bottom: 0.1875rem solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    color: #fffffe;
}

.footer .copyright {
    margin-top: 0.9375rem;
    text-align: center;
    font-size: 0.75rem;
    color: #94a1b2;
}



/*SMALLER SCREENS:*/

@media screen and (max-width: 1024px) {

    .header {
        padding: 1rem 5vw;
    }

    .logo {
        font-size: 1.25rem;
    }

    .navbar {
        display: none; 
    }

    .contact-btn {
        padding: 0.5rem 1.5rem;
        background-color: #fffffe;
        color: black;
        border: 0.125rem solid transparent;
        border-radius: 0.5rem;
        font-size: 1rem;
        letter-spacing: 0.0625rem;
        font-weight: 600;
        transition: 0.3s ease;
    }

    .contact-btn:hover,
    .contact-btn:active,
    .contact-btn:focus,
    .resume-download:hover,
    .resume-download:active,
    .resume-download:focus {
        background-color: #2cb67d; 
        color: #fffffe;
        box-shadow: none;
}



  
    .home {
        padding: 1rem 5vw; 
        flex-direction: column; 
    }

    .home-content {
        max-width: 90%; 
        text-align: center; 
    
    }

    .home-content h1 {
        font-size: 1.75rem;
        line-height: 1.2;
        text-align: center;
    }

    .home-content h3 {
        font-size: 1.7rem;
        padding-top: 0.5rem;
        text-align: center;
    }

    .lang-logos img {
        width: 1.85rem; 
        height: 1.85rem;
        margin: 1.5rem 0.5rem 0 0.5rem;
    }
            
    .about-me {
        display: block;
        text-align: center; 
        min-height: fit-content;
    }
    
    .container {
        display: block;
    }

    .img-box {
        position: relative;
        padding: 4rem 0 1rem 0;
    }

    .img-box img{
        border-radius: 50%;
        width: 8rem;
        box-shadow: 0 0 1rem #a735ff, 
                    0 0 1rem #a735ff;
    }

    .about-content {
        max-width: 70%;
        margin: 1rem auto 0;
        text-align: justify;
        min-height: fit-content;
    }

    .about-content h1 {
        color: #fffffe;
        margin-bottom: 0.2rem;
        letter-spacing: 0.05rem;
        font-size: 2rem;
    }
    
    .about-content p {
        color: #94a1b2;
        letter-spacing: 0.02rem;
        line-height: 1.2;
        font-size: 1.2rem;
    }

    .social-bar {
        padding: 2rem 0; 
        margin: 0 auto;  
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }

    .social-logos {
        width: 2.5rem; 
        height: 2.5rem;
        margin: 0 1.5rem 2rem 1.5rem; 
    }

    .projects {
        text-align: center; 
        min-height: fit-content;
    }
    
    .projects-content {
        max-width: 100%; 
        text-align: justify; 
        margin: 2rem;
    }

    .projects-content h2 {
        text-align: left;
        color: #fffffe;
        font-size: 2.2rem;
        margin: 0;
        padding: 1rem 0;
    }
    
    .projects-content h3 {
        font-size: 1.6rem;
        text-align: left;
        color: #fffffe;
        font-style: italic;
    }
    
    .project {
        margin: 0.75rem 0; 
        width: 100%;
    }

    .list {
        padding: 0.5rem; 
        padding-left: 0.5rem;
        text-align: left; 
    }

    .list li {
        padding: 0.15rem 0; 
        font-size: 1.2rem;
    }
    
    .resume {
        flex-direction: column; 
        align-items: center; 
        gap: 2rem; 
        min-height: 30vh;
    }

    .resume-content {
        max-width: 100%; 
        text-align: justify; 
        padding: 3% 0;
        padding-bottom: 2rem;
    }

    .resume-download {
        padding: 0.5rem;
        background-color: #7f5af0;
        color: #fffffe;
        border: 0.125rem solid transparent;
        border-radius: 0.2rem;
        font-size: 1rem;
        letter-spacing: 0;
        font-weight: 600;
        transition: 0.3s ease;
    }    

    .footer ul {
        padding: 0; 
    }

    .footer ul li {
        padding: 0rem; 
    }
}
